In [7]:
import pandas as pd
data = pd.read_csv("data.csv")
data

   id   X   Y
0   1   6  12
1   2  25  52
2   3   4  16
3   4  18  35
4   5   3   6
5   6   7  16
6   7  17  32
7   8  12  21
8   9  13  22
9  10   5   8

In [8]:
data = pd.DataFrame(data)
x_m = data.X.mean()
y_m = data.Y.mean()
print(x_m,y_m)

11.0 22.0

In [30]:
x = pd.DataFrame(data.X)
y = pd.DataFrame(data.Y)

In [31]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x,y)
reg.intercept_

array([1.24789916])

In [32]:
reg.coef_

array([[1.88655462]])

In [34]:
from sklearn.metrics import r2_score
r2_score(y,reg.predict(x))

0.9443289021294137